body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 900px;
  justify-content: space-around;
  border: 1px solid red;
}

.container > .column {
  display: flex;
  flex: 1 0 auto;
  height: auto;
  flex-direction: row;
}

.container > .column > .row {
  flex: 1;
  border: 1px solid black;
  display: flex;
}
